
{% for operation in setup_phase_operations %}

{# ︵‿︵‿ Checks ︵‿︵‿ #}

  {% if 'checks' in operation %}
    {% for check_item in operation.checks %}
      {% if 'check_net_flows' in check_item %}
        {% for flow_item in check_item.check_net_flows %}
          {# .... #}
        {% endfor %}
      {#
      {% elif 'check_available_port' in check_item %}
          ....
      #}
      {% endif %}
    {% endfor %}








{# ︵‿︵‿ Installations ︵‿︵‿ #}

  {% elif 'installations' in operation %}









{# ︵‿︵‿ Configurations ︵‿︵‿ #}

  {% elif 'configurations' in operation %}










{# ︵‿︵‿ Executions ︵‿︵‿ #}

  {% elif 'executions' in operation %}





{# ︵‿︵‿︵‿︵‿︵‿︵‿︵‿︵‿ #}
  {% endif %}
{% endfor %}