---
- name: "Start configurations (if any)..."
  meta: noop

{% for item in configs %}

{% if item == 'update_resource' %}
{% for config in configs['update_resource'] %}

{% if item.resource_type == 'path_env_var' %}
- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Check PATH environment variable"
  win_shell: |
    $locationToAdd = "{{ item.value }}"
    $currentPath = [Environment]::GetEnvironmentVariable("PATH", "Machine")
    $pathDirectories = $currentPath -split ";"
    $locationInPath = $pathDirectories -contains $locationToAdd
    if (-not $locationInPath) {
        Write-Host "Location is not in path PATH."
    } else { Write-Host "Location is already in PATH." }
  register: path_exists
  changed_when: false
  no_log: true

- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Update PATH environment variable"
  win_shell: |
    $existingPath = [Environment]::GetEnvironmentVariable("PATH", "Machine")
    $existingPath += ';{{ item.value }}'
    [Environment]::SetEnvironmentVariable("PATH", $existingPath, "Machine")
  when: "'is not' in path_exists.stdout"
{% endif %}

{% endfor %}
{% endif %}

{# 
... 
#}

{% endfor %}
