---
- name: "{{ label }} Started post-install actions..."
  debug:
    msg: "helooooo"


{% for item in configs %}









{% if item.resource_type == 'envvar' %}

- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Check environment variable"
  win_shell: |
    $locationToAdd = "{{ item.value }}"
    $currentPath = [Environment]::GetEnvironmentVariable("{{ item.resource_name }}", "Machine")
    $pathDirectories = $currentPath -split ";"
    $locationInPath = $pathDirectories -contains $locationToAdd
    if (-not $locationInPath) {
        Write-Host "Location is not in path {{ item.resource_name }}."
    } else { Write-Host "Location is already in {{ item.resource_name }}." }
  register: path_exists
  changed_when: false
  no_log: true


- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Modify environment variable"
  win_shell: |
    $existingPath = [Environment]::GetEnvironmentVariable("{{ item.resource_name }}", "Machine")
    $existingPath += ';{{ item.value }}'
    [Environment]::SetEnvironmentVariable("{{ item.resource_name }}", $existingPath, "Machine")
  when: "'is not' in path_exists.stdout"


# {% elif item.resource_type == 'registry' %}
# ...

{% else %}

# Default Action
# ...

{% endif %}








{% endfor %}
