---
- name: "Start Executions (if any)..."
  meta: noop

{% for item in execs %}

{% if item == 'run_ps1_script' %}
{% for job in execs['run_ps1_script'] %}
- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Run script to '{{ job.script_action }}'"
  win_shell: |
    $net_test = Test-NetConnection -ComputerName {{ job.target_host }} -Port {{ job.target_port }}
    if($net_test.TcpTestSucceeded) {
      Write-Host "success"
    } else {
      Write-Host "failure"
    }
  agrs:
    chdir: {{ job.working_dir }}
  register: script_result
  #changed_when: false
  failed_when: 
    - "'fail' in script_result.stdout"
    - script_result.rc != 0

- name: "{{ label }} ({{ loop.index }}/{{ loop.length }}) Script Result"
  assert:
    that:
      - "'success' in netflow_check_result.stdout"
      - "'failure' not in netflow_check_result.stdout"
    fail_msg: "Failed to establish TCP connection to '{{ job.target_host }}:{{ job.target_port }}'"
    success_msg: "TCP connection to '{{ job.target_host }}:{{ job.target_port }}' succeeded!"
  ignore_errors: {% if job.abort_on_failure is defined and job.abort_on_failure %}no{% else %}yes{% endif %}
{% endfor %}
{% endif %}

{# 
... 
#}

{% endfor %}
